<div class="dashboard">
  <header class="dashboard-header">
    <h1>Money Manager Overview</h1>
  </header>

  <main class="dashboard-main">
    <section class="card">
      <h2>Users List</h2>
      <div class="controls">
        <button class="btn-refresh" [class.btn-loading]="loading" type="button" (click)="refresh()">
        {{loading ? "Loading..." : "Refresh" }}
        </button>
        <section class="add-user-form">
          <label>Add new user</label>
          <div class="form-inputs">
          <input id="newUser" type="text" [(ngModel)]="newUsername" placeholder="Username" />
          <input id="newEmail" type="email" [(ngModel)]="newEmail" placeholder="Email" />
          <input id="newPassword" type="password" [(ngModel)]="newPassword" placeholder="Password" />
          <button type="button" class="confirmButton" (click)="addUser()">Add User</button>
          </div>
        </section>
      </div>

      <p *ngIf="userError" class="error">{{ userError }}</p>
      <ul *ngIf="users && users.length" class="users-list">
        <app-user *ngFor="let u of users" [user]="u" (onDelete)="deleteUser($event)"/>
      </ul>
    </section>

    <section class="card">
      @if(currentUser) {
        <h2>Money entries for user {{ currentUser.username }} with ID: {{ currentUser.id }}</h2>
      }
      @else{
        <h2>No user</h2>
     }
      <div class="controls">
      </div>

      <p *ngIf="entryError" class="error">{{ entryError }}</p>
      <ul *ngIf="entries && entries.length" class="entries-list">
        <app-entry *ngFor="let e of entries" [entry]="e"/>
      </ul>
      <div class="controls">
      <input id="newBalanceAmount" type="number" [(ngModel)]="balance" placeholder="Amount" />
      <div class="ratio-input">
        <input
          id="ratio"
          name="ratio"
          type="number"
          min="0"
          max="1"
          step="0.01"
          required
          inputmode="decimal"
          [(ngModel)]="ratio"
          #ratioCtrl="ngModel"
          placeholder="Ratio (0-1)"
        />
      </div>
      <button type="button" class="confirmButton" [disabled]="ratioCtrl.invalid" (click)="addBalance()">
        Add Balance Entry
      </button>
      </div>
    </section>
  </main>
</div>
