<div class="dashboard">
  <header class="dashboard-header">
    <h1>Money Manager Overview</h1>
  </header>

  <main class="dashboard-main">
    <section class="card">
      <h2>Users List</h2>
      <div class="controls">
        <button class="btn-refresh" [class.btn-loading]="loading" type="button" (click)="refresh()">
        {{loading ? "Loading..." : "Refresh" }}
        </button>
        <section class="add-user-form">
          <label>Add new user</label>
          <div class="form-inputs">
          <input id="newUser" type="text" [(ngModel)]="newUsername" placeholder="Username" />
          <input id="newEmail" type="email" [(ngModel)]="newEmail" placeholder="Email" />
          <input id="newPassword" type="password" [(ngModel)]="newPassword" placeholder="Password" />
          <button type="button" (click)="addUser()">Add User</button>
          </div>
        </section>
      </div>

      <p *ngIf="error" class="error">{{ error }}</p>
      <ul *ngIf="users && users.length" class="users-list">
        <app-user *ngFor="let u of users" [user]="u" (onDelete)="deleteUser($event)"/>
      </ul>
    </section>

    <section class="card">
      <h2>Money Entries</h2>
      <div class="controls">
      </div>

      <p *ngIf="error" class="error">{{ error }}</p>
      <ul *ngIf="entries && entries.length" class="entries-list">
        <app-entry *ngFor="let e of entries" [entry]="e"/>
      </ul>
    </section>
  </main>
</div>

