ul {
  padding-left: 0;
}

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dashboard-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}

.btn-refresh {
  margin-top: 1rem;
  width: 10%;
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-refresh:hover {
  background-color: #007bff;
  color: white;
}

.btn-loading {
  margin-top: 1rem;
  width: 10%;
  border: 2px solid #ffff00;
  background-color: transparent;
  color: #ffff00;
  border-radius: 2px;
  cursor: pointer;
}

.btn-loading:hover {
  background-color: #ffff00;
  color: black;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 80%;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.add-user-form input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.add-user-form button {
  margin-top: 0;
  padding: 0.5rem;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 80%;
}
